<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ToFbafeeRuleMapper" >
  <resultMap id="BaseResultMap" type="pojo.ToFbafeeRule" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CREATED_AT" property="createdAt" jdbcType="INTEGER" />
    <result column="CREATED_ID" property="createdId" jdbcType="INTEGER" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="INTEGER" />
    <result column="UPDATED_ID" property="updatedId" jdbcType="INTEGER" />
    <result column="ISACTIVE" property="isactive" jdbcType="CHAR" />
    <result column="STATE" property="state" jdbcType="CHAR" />
    <result column="AREA_ID" property="areaId" jdbcType="INTEGER" />
    <result column="PROJECT_ID" property="projectId" jdbcType="INTEGER" />
    <result column="LENGTH_UNIT" property="lengthUnit" jdbcType="VARCHAR" />
    <result column="WEIGHT_UNIT" property="weightUnit" jdbcType="VARCHAR" />
    <result column="VOLWEIGHTP_ROP" property="volweightpRop" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CREATED_AT, CREATED_ID, UPDATED_AT, UPDATED_ID, ISACTIVE, STATE, AREA_ID, PROJECT_ID, 
    LENGTH_UNIT, WEIGHT_UNIT, VOLWEIGHTP_ROP
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pojo.ToFbafeeRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from to_fbafee_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from to_fbafee_rule
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from to_fbafee_rule
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.ToFbafeeRuleExample" >
    delete from to_fbafee_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.ToFbafeeRule" >
    insert into to_fbafee_rule (ID, CREATED_AT, CREATED_ID, 
      UPDATED_AT, UPDATED_ID, ISACTIVE, 
      STATE, AREA_ID, PROJECT_ID, 
      LENGTH_UNIT, WEIGHT_UNIT, VOLWEIGHTP_ROP
      )
    values (#{id,jdbcType=INTEGER}, #{createdAt,jdbcType=INTEGER}, #{createdId,jdbcType=INTEGER}, 
      #{updatedAt,jdbcType=INTEGER}, #{updatedId,jdbcType=INTEGER}, #{isactive,jdbcType=CHAR}, 
      #{state,jdbcType=CHAR}, #{areaId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{lengthUnit,jdbcType=VARCHAR}, #{weightUnit,jdbcType=VARCHAR}, #{volweightpRop,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.ToFbafeeRule" >
    insert into to_fbafee_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="createdId != null" >
        CREATED_ID,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="updatedId != null" >
        UPDATED_ID,
      </if>
      <if test="isactive != null" >
        ISACTIVE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="lengthUnit != null" >
        LENGTH_UNIT,
      </if>
      <if test="weightUnit != null" >
        WEIGHT_UNIT,
      </if>
      <if test="volweightpRop != null" >
        VOLWEIGHTP_ROP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=INTEGER},
      </if>
      <if test="createdId != null" >
        #{createdId,jdbcType=INTEGER},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=INTEGER},
      </if>
      <if test="updatedId != null" >
        #{updatedId,jdbcType=INTEGER},
      </if>
      <if test="isactive != null" >
        #{isactive,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="lengthUnit != null" >
        #{lengthUnit,jdbcType=VARCHAR},
      </if>
      <if test="weightUnit != null" >
        #{weightUnit,jdbcType=VARCHAR},
      </if>
      <if test="volweightpRop != null" >
        #{volweightpRop,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.ToFbafeeRuleExample" resultType="java.lang.Integer" >
    select count(*) from to_fbafee_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update to_fbafee_rule
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createdAt != null" >
        CREATED_AT = #{record.createdAt,jdbcType=INTEGER},
      </if>
      <if test="record.createdId != null" >
        CREATED_ID = #{record.createdId,jdbcType=INTEGER},
      </if>
      <if test="record.updatedAt != null" >
        UPDATED_AT = #{record.updatedAt,jdbcType=INTEGER},
      </if>
      <if test="record.updatedId != null" >
        UPDATED_ID = #{record.updatedId,jdbcType=INTEGER},
      </if>
      <if test="record.isactive != null" >
        ISACTIVE = #{record.isactive,jdbcType=CHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.areaId != null" >
        AREA_ID = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null" >
        PROJECT_ID = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.lengthUnit != null" >
        LENGTH_UNIT = #{record.lengthUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.weightUnit != null" >
        WEIGHT_UNIT = #{record.weightUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.volweightpRop != null" >
        VOLWEIGHTP_ROP = #{record.volweightpRop,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update to_fbafee_rule
    set ID = #{record.id,jdbcType=INTEGER},
      CREATED_AT = #{record.createdAt,jdbcType=INTEGER},
      CREATED_ID = #{record.createdId,jdbcType=INTEGER},
      UPDATED_AT = #{record.updatedAt,jdbcType=INTEGER},
      UPDATED_ID = #{record.updatedId,jdbcType=INTEGER},
      ISACTIVE = #{record.isactive,jdbcType=CHAR},
      STATE = #{record.state,jdbcType=CHAR},
      AREA_ID = #{record.areaId,jdbcType=INTEGER},
      PROJECT_ID = #{record.projectId,jdbcType=INTEGER},
      LENGTH_UNIT = #{record.lengthUnit,jdbcType=VARCHAR},
      WEIGHT_UNIT = #{record.weightUnit,jdbcType=VARCHAR},
      VOLWEIGHTP_ROP = #{record.volweightpRop,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.ToFbafeeRule" >
    update to_fbafee_rule
    <set >
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=INTEGER},
      </if>
      <if test="createdId != null" >
        CREATED_ID = #{createdId,jdbcType=INTEGER},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=INTEGER},
      </if>
      <if test="updatedId != null" >
        UPDATED_ID = #{updatedId,jdbcType=INTEGER},
      </if>
      <if test="isactive != null" >
        ISACTIVE = #{isactive,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="areaId != null" >
        AREA_ID = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="lengthUnit != null" >
        LENGTH_UNIT = #{lengthUnit,jdbcType=VARCHAR},
      </if>
      <if test="weightUnit != null" >
        WEIGHT_UNIT = #{weightUnit,jdbcType=VARCHAR},
      </if>
      <if test="volweightpRop != null" >
        VOLWEIGHTP_ROP = #{volweightpRop,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.ToFbafeeRule" >
    update to_fbafee_rule
    set CREATED_AT = #{createdAt,jdbcType=INTEGER},
      CREATED_ID = #{createdId,jdbcType=INTEGER},
      UPDATED_AT = #{updatedAt,jdbcType=INTEGER},
      UPDATED_ID = #{updatedId,jdbcType=INTEGER},
      ISACTIVE = #{isactive,jdbcType=CHAR},
      STATE = #{state,jdbcType=CHAR},
      AREA_ID = #{areaId,jdbcType=INTEGER},
      PROJECT_ID = #{projectId,jdbcType=INTEGER},
      LENGTH_UNIT = #{lengthUnit,jdbcType=VARCHAR},
      WEIGHT_UNIT = #{weightUnit,jdbcType=VARCHAR},
      VOLWEIGHTP_ROP = #{volweightpRop,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>